body{
    margin-top: 2px;;
	background-color :lightpink;
	display: inline-block;
	border-radius: 2%;
	padding:1px 2px;
	font-size: 20zpx;
	
}
h1{
	border-block-end-style: dashed;
	border-block-start-color: rebeccapurple;}